In [1]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 5C52-1ED8

 Directory of C:\Users\vvijayan\Desktop\benthamiana and araport\araport\signalp

05/07/2025  01:47 PM    <DIR>          .
04/28/2025  04:31 PM    <DIR>          ..
05/07/2025  01:41 PM    <DIR>          .ipynb_checkpoints
02/24/2025  04:10 PM            15,939 extract_signalp6.ipynb
04/30/2025  03:57 PM            60,569 prediction_results_araport.txt
               2 File(s)         76,508 bytes
               3 Dir(s)  91,469,451,264 bytes free

In [2]:
import pandas as pd

In [5]:
df= pd.read_csv('prediction_results_araport.txt' , sep='\t', skiprows=1)
df

             # ID Prediction     OTHER  SP(Sec/SPI)                CS Position
0     AT1G01650.1         SP  0.000227     0.999754  CS pos: 26-27. Pr: 0.9678
1     AT1G01650.2      OTHER  0.999865     0.000146                        NaN
2     AT1G01650.3      OTHER  0.999853     0.000146                        NaN
3     AT1G01650.4      OTHER  0.999865     0.000146                        NaN
4     AT1G01900.1         SP  0.303265     0.696739  CS pos: 39-40. Pr: 0.6405
...           ...        ...       ...          ...                        ...
1443  AT5G67170.1      OTHER  1.000000     0.000000                        NaN
1444  AT5G67170.2      OTHER  1.000000     0.000000                        NaN
1445  AT5G67170.3      OTHER  1.000000     0.000001                        NaN
1446  AT5G67360.1         SP  0.000193     0.999788  CS pos: 24-25. Pr: 0.9810
1447  ATCG00670.1      OTHER  1.000000     0.000000                        NaN

[1448 rows x 5 columns]

In [6]:
x=df[['# ID','Prediction']]
x

             # ID Prediction
0     AT1G01650.1         SP
1     AT1G01650.2      OTHER
2     AT1G01650.3      OTHER
3     AT1G01650.4      OTHER
4     AT1G01900.1         SP
...           ...        ...
1443  AT5G67170.1      OTHER
1444  AT5G67170.2      OTHER
1445  AT5G67170.3      OTHER
1446  AT5G67360.1         SP
1447  ATCG00670.1      OTHER

[1448 rows x 2 columns]

In [19]:
x = x.rename(columns={'# ID':'Gene_ID','Prediction':'SignalP'})
x

               Gene_ID SignalP
0    Mo_GUY11_027360T0   OTHER
1    Mo_GUY11_030690T0      SP
2    Mo_GUY11_032010T0   OTHER
3    Mo_GUY11_025520T0      SP
4    Mo_GUY11_029150T0      SP
..                 ...     ...
415  Mo_GUY11_001310T0   OTHER
416  Mo_GUY11_011940T0   OTHER
417  Mo_GUY11_000970T0   OTHER
418  Mo_GUY11_009820T0   OTHER
419  Mo_GUY11_000760T0      SP

[420 rows x 2 columns]

In [7]:
x.to_excel('signalp_araport.xlsx', index=False)